version: '3.8'
services:
  postgres:
    image: postgres
    container_name: pg-docker
    ports:
    - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
    - ./postgres-data:/var/lib/postgresql/data