.App {
  text-align: left; 
  overflow: hidden;
}
h1 {
  position: relative;
  left: 204px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.copyrightstuff{
  text-align: center; 
  position: relative;
  top: 400px;
}

.github{
  position: relative;
  left: 1300px;
  top: 25px;
  height: 10%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow-x: hidden;
}

.topnav a:hover {
  overflow-x: hidden;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  overflow-x: hidden;
  background-color: #4CAF50;
  color: white;
}

select
{
  position: relative;
  left: 1265px;
}
.checkboxes{
  position: relative;
  left: 204px;
}
.checkbox2{
  position: relative;
  left: 204px;
}

.checkbox3{
  position: relative;
  left: 204px;
}
.checkbox4{
  position: relative;
  left: 204px;
}
.checkbox5{
  position: relative;
  left: 204px;
}
.LintButton
{
  position: relative;
  left: 1570px;
}

.whitespace2
{
  position: relative;
  left: 2564px;
}

.textarea{
  vertical-align: center;
  text-align: center;
}

.inputs{
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  text-align: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

.form-text{
  padding:15px 0;
}
.App-link {
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
