.App {
  text-align: left; 
}
h1 {
  position: relative;
  left: 204px;
}

select
{
  position: relative;
  left: 1265px;
}
.checkboxes{
  position: relative;
  left: 204px;
}
.checkbox2{
  position: relative;
  left: 204px;
}

.checkbox3{
  position: relative;
  left: 204px;
}
.checkbox4{
  position: relative;
  left: 204px;
}
.checkbox5{
  position: relative;
  left: 204px;
}
.LintButton
{
  position: relative;
  left: 1570px;
}

.whitespace2
{
  position: relative;
  left: 2564px;
}

.textarea{
  vertical-align: center;
  text-align: center;
}

.inputs{
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  text-align: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

.form-text{
  padding:15px 0;
}
.App-link {
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
