@font-face {
  font-family: 'proxima-nova';
  src: url('/static/proximaNova.ttf');
}

.App {
    text-align: left;
    height: 100%;
}

html, body {
    height: 98%;
    font-family: proxima-nova;
    margin: 0;
    padding: 0;
    background: black;
}

h1 {
    color: white;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}